#  Global
.env
.env.*
.DS_Store
.vscode/
.idea/
*.log

#  Frontend 
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.cache/

#  Laravel Backend 
laravel-backend/vendor/
laravel-backend/node_modules/
laravel-backend/public/storage
laravel-backend/storage/*.key
laravel-backend/storage/framework/cache/*
laravel-backend/storage/framework/sessions/*
laravel-backend/storage/framework/views/*
laravel-backend/storage/logs/*
laravel-backend/bootstrap/cache/*
laravel-backend/.env
laravel-backend/.env.*

